*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: black;
    
    

}

.piano-key{
    list-style: none;
    display: flex;
    /* /* align-items: center; */
    justify-content: space-between; 
    margin: 10px;
    gap: 5px;
}

.piano-key .keys{
    cursor: pointer;
    user-select: none;
    position: relative;
}
.piano-key .keys-black{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
    height: 150px;
    width: 58px;
    background-color: black;
    color: #eee;
    margin: 0 -22px 0 -22px;
    border-radius:0 0 8px 8px;
}

.piano-key .keys-white{
    justify-content: center;
    display: flex;
    align-items: flex-end;
    height: 230px;
    width: 90px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: white;
}
