*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body,html{
  width: 100%;
  height: 100%;
}
body{
  background-color: #101010;
  
}

main{
  width: 100%;
  height: 100%;
  padding: 20px;
}

section{
  width: 25%;
  height: 100%;
  background-color: black;
  border-radius: 10px;
  margin: auto;
  border: 1px solid rgb(41, 41, 41);
  overflow: hidden;
}

.all-reels{
  width: 100%;
  height: 100%;
  overflow: auto ;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
  display: none;
}

.reels{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgb(18, 36, 36);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.reels video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.reels .bottom {
  padding: 10px 20px;
  height: 130px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
  width: 100%;
  position: absolute;
  bottom: 0;
}
.reels .bottom .user{
  display: flex;
}

.reels .bottom .user img{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  
}
.reels .bottom p{
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 90%;
  font-size: 14px;
  color: white;
}
.reels .bottom .user p{
  position: absolute;
  top: 20px;
  left: 70px;
  margin-right: 100px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 70px;
}

.reels .bottom .user button{
  position: absolute;
  width: 80px;
  top: 15px;
  left: 150px;
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ffffff00;
  color: white;
  cursor: pointer;
}

.reels .bottom .user button:active{
  scale: 0.95;
}
.reels .side{
  position: absolute;
  right: 10px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* background-color: blue; */
  /* padding-top: 40px; */
}
.reels .side i{
  font-size: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ri-heart-fill{
  position: relative;
  top: 20px;
  color: red;
  display: flex;
  justify-content: center;
}
.ri-heart-line{
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
}
